* {
    background: grey;
    margin: 0px;
    padding: 0px;
}
#grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#player-grid, #enemy-grid {
    padding: 5px;
    display:grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    height: 50vh;
    width: 50vh;
    
    
    
}
.grid-box{
    border: 1px solid black;

    
}
.miss{
    background-color: green;
}
.hit{
    background-color: red;
}